<launch>
  <arg name="rvizconfig" default="$(find haruna_simulations)/rviz/gazebo.rviz" />
  <arg name="laser_filter_file" default="$(find haruna_navigation)/config/laser_filter/rplidar.yaml" />
  <arg name="model" default="$(find haruna_description)/urdf/haruna.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model haruna" />
  
  <!-- laser_filter -->
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
    <rosparam command="load" file="$(arg laser_filter_file)" />
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering" />
</launch>