<?xml version="1.0"?>
<robot name="test" xmlns:xacro="http://wiki.ros.org/xacro">

  <link name="base_link"/>
  <joint name="base_link_to_body" type="fixed">
    <origin xyz="0.0 0.0 0.12" rpy="0.0 0.0 0.0"/>
    <parent link="base_link"/>
    <child link="body"/>
  </joint>
  <link name="body">
    <visual>
      <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.25" length="0.01"/>
      </geometry>
      <material name="body">
        <color rgba="0.8 0.8 0.8 0.5"/>
      </material>
    </visual>
  </link>
  <joint name="left_wheel_joint" type="continuous">
	<origin xyz="0.0 0.17055 0.0" rpy="0.0 0.0 0.0"/>
	<axis xyz="0 1 0"/>
	<parent link="body"/>
	<child link="left_wheel_link"/>
  </joint>
  <link name="left_wheel_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="1.57 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.085" length="0.075"/>
      </geometry>
      <material name="wheel">
        <color rgba="0.8 0.8 0.8 1.0"/>
      </material>
    </visual>
  </link>
  <joint name="right_wheel_joint" type="continuous">
    <origin xyz="0.0 -0.17055 0.0" rpy="0.0 0.0 3.14"/>
    <axis xyz="0 1 0"/>
    <parent link="body"/>
    <child link="right_wheel_link"/>
  </joint>
  <link name="right_wheel_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="-1.57 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.085" length="0.075"/>
      </geometry>
      <material name="wheel">
        <color rgba="0.8 0.8 0.8 1.0"/>
      </material>
    </visual>
  </link>
  <link name="laser" />
  <joint name="body_to_laser" type="fixed">
    <parent link="body"/>
    <child link="laser"/>
    <origin rpy="0 3.14 0" xyz="0.22 0 0.18"/>
  </joint>
</robot>
