<launch>

<rosparam file="$(find haruna_gazebo)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="haruna" args="left_leg_to_left_wheel_joint_position_controller right_leg_to_right_wheel_joint_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/haruna/joint_states"/>
</node>

</launch>