<launch>
  <arg name="vel_limit_linear" default="0.1"/>
  <arg name="vel_limit_angular" default="0.2"/>
  <arg name="acc_limit_linear" default="1.0"/>
  <arg name="acc_limit_angular" default="2.0"/>

  <!-- Base controller -->
  <include file="$(dirname)/main.launch">
    <arg name="vel_limit_linear" value="$(arg vel_limit_linear)"/>
    <arg name="vel_limit_angular" value="$(arg vel_limit_angular)"/>
    <arg name="acc_limit_linear" value="$(arg acc_limit_linear)"/>
    <arg name="acc_limit_angular" value="$(arg acc_limit_angular)"/>
  </include>

  <!-- RPLiDAR -->
  <include file="$(find rplidar_ros)/launch/rplidar_s1.launch"/>

  <!-- Laser filter -->
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
    <rosparam command="load" file="$(dirname)/../config/laser_filter.yaml"/>
  </node>

  <!-- SLAM Toolbox -->
  <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam command="load" file="$(dirname)/../config/slam_toolbox/mapper_params_online_sync.yaml"/>
  </node>
</launch>
