<launch>
  <include file="$(dirname)/mapping.launch"></include>

  <!-- MoveBase -->
  <include file="$(dirname)/move_base.launch"/>

  <node pkg="explore_lite" type="explore" name="explore" output="screen">
    <param name="costmap_topic" value="/map"/>
    <param name="visualize" value="true"/>
  </node>
</launch>
