<launch>
  <arg name="vel_limit_linear" default="inf"/>
  <arg name="vel_limit_angular" default="inf"/>
  <arg name="acc_limit_linear" default="2.0"/>
  <arg name="acc_limit_angular" default="4.0"/>

  <include file="$(dirname)/mapping.launch">
    <arg name="vel_limit_linear" value="$(arg vel_limit_linear)"/>
    <arg name="vel_limit_angular" value="$(arg vel_limit_angular)"/>
    <arg name="acc_limit_linear" value="$(arg acc_limit_linear)"/>
    <arg name="acc_limit_angular" value="$(arg acc_limit_angular)"/>
  </include>

  <!-- MoveBase -->
  <include file="$(dirname)/move_base.launch"/>

  <node pkg="explore_lite" type="explore" name="explore" output="screen">
    <param name="costmap_topic" value="/map"/>
    <param name="visualize" value="true"/>
  </node>
</launch>
