<launch>
  <arg name="map" default="$(dirname)/../maps/map.yaml"/>

  <!-- MoveBase -->
  <include file="$(dirname)/move_base.launch"/>

  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" clear_params="true">
    <rosparam command="load" file="$(dirname)/../config/amcl.yaml"/>
    <remap from="scan" to="scan_filtered"/>
  </node>

  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)">
    <param name="frame_id" value="map"/>
  </node>
</launch>
