<launch>
  <arg name="vel_limit_linear" default="inf"/>
  <arg name="vel_limit_angular" default="inf"/>
  <arg name="acc_limit_linear" default="2.0"/>
  <arg name="acc_limit_angular" default="4.0"/>

  <!-- Base controller -->
  <include file="$(find haruna)/launch/main.launch">
    <arg name="vel_limit_linear" value="$(arg vel_limit_linear)"/>
    <arg name="vel_limit_angular" value="$(arg vel_limit_angular)"/>
    <arg name="acc_limit_linear" value="$(arg acc_limit_linear)"/>
    <arg name="acc_limit_angular" value="$(arg acc_limit_angular)"/>
  </include>

  <!-- RPLiDAR -->
  <include file="$(find rplidar_ros)/launch/rplidar_s1.launch"/>

  <!-- Laser filter -->
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
    <rosparam command="load" file="$(dirname)/../config/laser_filter.yaml" />
  </node>

  <!-- MoveBase -->
  <include file="$(dirname)/move_base.launch"/>

  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" clear_params="true">
    <rosparam command="load" file="$(dirname)/../config/amcl.yaml"/>
    <remap from="scan" to="scan_filtered"/>
  </node>

  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(dirname)/../maps/map.yaml">
    <param name="frame_id" value="map"/>
  </node>
</launch>
